[Desktop Entry]
Encoding=UTF-8
Name=MagnaChain Core
Comment=Connect to the MagnaChain P2P Network
Comment[de]=Verbinde mit dem MagnaChain peer-to-peer Netzwerk
Comment[fr]=MagnaChain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MagnaChain, eşten eşe kriptografik sanal para birimi
Exec=magnachain-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/magnachain;
Categories=Office;Finance;
