*.csproj
*.suo
*.obj
*.user
/.vs/
/Debug/
/Release/
/build-msvc/magnachain-cli/
/build-msvc/magnachain-common/
/build-msvc/magnachaind/
/build-msvc/magnachain-test/
/build-msvc/magnachain-tx/
/packages/
/build-msvc/.vs
